# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your Emory ID as a string below

In [1]:
# Write your answer here
print(2517871)

2517871

<font size = "5" >
This quiz is open book 

- You can use the lecture notes and the internet
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"


**By printing the message, you acknowledge that you will abide by Emory's code of conduct.**

In [2]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [3]:
# Write your answer here
import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Print the list with the unique values that are not numeric in the column "positionText"
- Replace the non-numerica values ("R" and "N") with ```np.nan``` (missing value) in the column "positionText"
- Create a new column "positionNumeric" that converts the modified "positionText" column from string to numeric using ```pd.to_numeric()```

HINT: See the example in Lecture 12

In [14]:
# Write your own code
sprint_results = pd.read_csv("data_raw/sprint_results.csv")
#display(sprint_results) check before
positionTextNoNum = sprint_results.query("positionText.str.isnumeric() == False")
#display(positionTextNoNum) check after
uniPositionText = pd.unique(positionTextNoNum["positionText"])
print(uniPositionText)

# replace R and N
oldList = uniPositionText
sprint_results["positionText"] = sprint_results["positionText"].replace(oldList, np.nan)

sprint_results["positionNumeric"] = pd.to_numeric(sprint_results["positionText"])
display(sprint_results) # check afterwards

['R' 'N']

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,positionNumeric
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,1.0
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,2.0
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,3.0
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,4.0
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1,16.0
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1,17.0
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1,18.0
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1,19.0
119,120,1095,848,3,23,11,\N,NaN,20,0,12,\N,\N,4,1:15.998,31,NaN

<font size = "5">

(b) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" with the following categories

$\qquad$ ``` ["1950-1974","1975-1999","2000-onwards"] ```

- Display the new "year_brackets" variable

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 (check the note in the example!)

In [18]:
# Write your own code
raceRaw = pd.read_csv("data_raw/races.csv")

labelsYear = ["1950-1974","1975-1999","2000-onwards"]
binsYear = [1949,1974,1999,1000000]
raceRaw["year_brackets"] = pd.cut(raceRaw["year"], bins = binsYear, right = True, labels = labelsYear)

display(raceRaw["year_brackets"])

0       2000-onwards
1       2000-onwards
2       2000-onwards
3       2000-onwards
4       2000-onwards
            ...
1097    2000-onwards
1098    2000-onwards
1099    2000-onwards
1100    2000-onwards
1101    2000-onwards
Name: year_brackets, Length: 1102, dtype: category
Categories (3, object): ['1950-1974' < '1975-1999' < '2000-onwards']

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Subset the drivers with a sum of laps $\ge 40$
- Store the results of all these operations in a dataframe ```sprint_results_agg ```
- Display the ```sprint_results_agg``` dataframe
- Provide a one-sentence explanation of the information in the ```sprint_results_agg ``` table

In [33]:
# Write your own code
cSprintResults = pd.read_csv("data_raw/sprint_results.csv")


subsetConstructorID = cSprintResults.query("constructorId == 3")
display(subsetConstructorID.sort_values("raceId",ascending = True))
aggDriverId = subsetConstructorID.groupby("driverId").agg(sumLaps = ("laps","sum"))
display(aggDriverId)

sprint_results_agg = aggDriverId.query("sumLaps >= 40")
display(sprint_results_agg)

print("Explanation: sprint_results_agg shows the driverId and sum of their laps for those with constructorId of 3 and at least 40 total laps. ")

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
8,9,1061,847,3,63,8,9,9,9,0,17,+46.652,1585078,17,1:32.208,1
16,17,1061,849,3,6,18,17,17,17,0,17,+55.162,1593588,17,1:32.143,1
33,34,1065,849,3,6,16,14,14,14,0,18,+45.977,1720055,9,1:25.711,1
34,35,1065,847,3,63,15,15,15,15,0,18,+46.821,1720899,15,1:25.835,1
55,56,1071,849,3,6,16,16,16,16,0,24,+46.760,1796319,7,1:13.934,1
56,57,1071,847,3,63,17,17,17,17,0,24,+47.739,1797298,14,1:14.056,1
77,78,1077,848,3,23,20,18,18,18,0,21,+48.871,1888438,14,1:21.020,1
78,79,1077,849,3,6,18,19,19,19,0,21,+52.017,1891584,16,1:21.437,1
95,96,1084,848,3,23,11,16,16,16,0,23,+52.412,1642471,5,1:10.367,1
97,98,1084,849,3,6,19,18,18,18,0,23,+1:08.694,1658753,4,1:10.284,1
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31

          sumLaps
driverId
847            59
848            56
849           127

          sumLaps
driverId
847            59
848            56
849           127

Explanation: sprint_results_agg shows the driverId and sum of their laps for those with constructorId of 3 and at least 40 total laps.

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the sum of "laps" by "driverId" using ``` .groupby().agg() ```
- Sort the teams in descending order using of the sum of laps using ``` .sort_values() ```
- Display your results

In [42]:
# Write your own code
dSprintResults = pd.read_csv("data_raw/sprint_results.csv")
sumLapsDriverId = dSprintResults.groupby("driverId").agg(sumLaps = ("laps","sum"))
sumLapsDriverId = sumLapsDriverId.sort_values("sumLaps", ascending = False)
display(sumLapsDriverId)

          sumLaps
driverId
1             127
832           127
854           127
852           127
849           127
847           127
846           127
844           127
839           127
840           127
830           127
822           127
817           127
815           126
20            125
842           109
4             104
825            68
841            59
853            59
848            56
855            47
8              41
9              18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "points" to "points_sprint"
- Display the dataframe columns

HINT: Create a dictionary and use ```.rename(columns = ...)``` See Lecture 14

In [46]:
# Write your own code
eSprintResults = pd.read_csv("data_raw/sprint_results.csv")
display(eSprintResults) #before
eSprintResults = eSprintResults.rename(columns={'points':'points_sprint'})
display(eSprintResults) #after

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points_sprint,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and "data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using "sprint_results" as the primary dataset (left), and "constructors" as the secondary dataset (right), merging on the column "constructorId"
- To get full points **ONLY** merge the "url" column from the secondary dataset (not all the columns)
- Display the resulting dataframe 


HINT: Use ```[[...]]``` to extract a subset of columns from the secondary dataset before merging, including the "constructorId" column

In [49]:
# Write your own code
fSprintResults = pd.read_csv("data_raw/sprint_results.csv")
fConstructors = pd.read_csv("data_raw/constructors.csv")

sprintConstrMerged = pd.merge(fSprintResults,fConstructors[["constructorId","url"]],on = "constructorId", how = "left")
display(sprintConstrMerged)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId,url
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1,http://en.wikipedia.org/wiki/Red_Bull_Racing
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1,http://en.wikipedia.org/wiki/Mercedes-Benz_in_...
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1,http://en.wikipedia.org/wiki/Scuderia_Ferrari
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1,http://en.wikipedia.org/wiki/McLaren
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,116,1095,840,117,18,15,16,16,16,0,24,+50.700,1862007,4,1:15.425,1,http://en.wikipedia.org/wiki/Aston_Martin_in_F...
116,117,1095,839,214,31,6,17,17,17,0,24,+51.756,1863063,5,1:16.097,1,http://en.wikipedia.org/wiki/Alpine_F1_Team
117,118,1095,4,214,14,7,18,18,18,0,24,+53.985,1865292,5,1:14.764,1,http://en.wikipedia.org/wiki/Alpine_F1_Team
118,119,1095,849,3,6,16,19,19,19,0,24,+1:16.850,1888157,4,1:16.525,1,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
119,120,1095,848,3,23,11,\N,R,20,0,12,\N,\N,4,1:15.998,31,http://en.wikipedia.org/wiki/Williams_Grand_Pr...